.home-wrapper {
    font-family: "Poppins", "sans-serif";
}

.cover {
    background: url("../../images/shtoperica.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


@media (min-width: 992px) {
    .cover {
        height: 100vh;
    }
}

.align h1 {
    padding-bottom: 10px;
    font-size: 40px;
}

.align {
    padding-top: 22vh;
    color:  white;
}

.second {
    margin-top: 40px;
}

.second{
    background-color: white;

}