.nav-black {
    background-color: black !important;
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
}


.nav-white {
    background-color: white !important;
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;   
}

.nav-white .active {
    border-bottom: 2px solid black !important;
}

.nav-black .active {
    border-bottom: 2px solid white !important;
}

/* .navItems .active {
    border-bottom: 2px solid black !important;
}

.andi .active{
    border-bottom: 2px solid white !important;
} */
/* .me-auto a:link, .me-auto a:active {
    border-bottom: 2px white solid !important;
} */
