.navb {
    background-color: #e1e9eb !important;
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
}

.navb, a {
    color:#232d2f !important
}

.nav-scroll {
    background-color: #f4f4f4 !important;
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;   
}

/* .nav-scroll, a{
    color: green !important;
} */
